@{
    ViewData["Title"] = "Página Principal";
}

<div class="container mt-5">
    <div class="text-center">
        <h1>Bem-vindo ao Sistema de Gestão</h1>
        <p class="lead">Gerencie seus clientes de forma prática!</p>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Estados</h5>
                    <p class="card-text">Gerencie os estados cadastrados.</p>
                    <a href="/Estados" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Cidades</h5>
                    <p class="card-text">Gerencie as cidades cadastradas.</p>
                    <a href="/Cidades" class="btn btn-success">Acessar</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Clientes</h5>
                    <p class="card-text">Gerencie os clientes cadastrados.</p>
                    <a href="/Clientes" class="btn btn-success">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div> 